#clockContainer{
    position: relative;
    margin: auto;
    height: 30vw;
    width: 30vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

h3{
 
color: whitesmoke;
font-size: 32px;

} 

#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
   
}

#minute{

    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
    
    }

#second{ 

    width: 1.8%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
   
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Inconsolata', monospace;
        display: flex;
        height: 100vh;
        background: #020100;
        justify-content: center;

    }
    .container {
        position: relative;
        margin: auto;
        height: 30vw;
        width: 30vw;
        background-size: 100%;
        border: 10px solid rgb(0, 240, 228);
        border-radius: 50%;
        /* flex-direction: column; */
	color:#fff;
    font-size: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
   
        content-visibility:auto;
     padding-top:150px; 
    justify-content: center;
        box-shadow: 
            0 0 5px rgb(104, 246, 3),
            0 0 10px rgb(0, 240, 180),
            0 0 15px rgb(0, 192, 240);
    }


    .time {
        font-size: 4em;
        color:rgb(0, 240, 196);
        justify-content: center;
    }


    
    .blink-colon {
        animation: blink 1s infinite linear;
    }
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        30% {
            opacity: 0.4;
        }
    }
    